<div class="row">
  <div class="col-md-10">
    <h2>All the players</h2>
  </div>
  <div class="col-md-2">
    <%= link_to "New player", new_player_path, class: "btn btn-primary mr-auto" %>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">balance</th>
      <th scope="col">status</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <%= render partial: "players/table_row", locals: {player: player } %>
    <% end %>
  </tbody>
</table>
